
{% extends "layout.html" %}
{% block content %}

<style>
  #Acknowledgements {
    border: none;
  }
</style>
        <div class="container" style="background:;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15548.427913157846!2d80.0190123!3d13.028859!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf2b01cd2dd20d28!2sSaveetha%20School%20of%20Engineering!5e0!3m2!1sen!2sin!4v1630300845714!5m2!1sen!2sin" width="400" height="400" frameborder="2" align="right" style="border:2px" allowfullscreen></iframe>


            <a style="color: black;"><p>TDP-43 database was developed under the guidance of Dr E. Srinivasan at Saveetha School of Engineering, Chennai.<br> For further information on databse and the predicted effects of mutations,</p>
			please refer to the following publication:<br> <a href="/static/TTR_paper.pdf" download style="color: blue">Structural and Functional Analysis of the Impact of SNP's on TDP-43 using Bioinformatics Tools</a></p></h4><br>
			<h3>Contact Details</h3>
			<div>Dr E. Srinivasan<br>

				 Assistant Professor<br>
				 Bioinformatics Lab, 
																                Department of Biotechnology<br>
																                Saveetha School of Engineering<br>
																                SIMATS (Deemed to be University), Chennai<br>
																                Tamil Nadu<br>
																                Email: kesav43@gmail.com<br><br>
																                 </div>

																                 <div>For any queries or suggestions, please write to:<br> kesav43@gmail.com <br>
																                 <br><br>
																               
														</div>
													</article>

        </div>

				{% endblock %} 