
{% extends "layout.html" %}
{% block content %}
<div class="container" style="color: white;">
    <table>
        <tbody>
          <style>    
          td.style4 {font-weight: bold;}     
          table, th, td 
          {
          border: 1px solid black;
          } 
          </style>
          <tr style="font-weight:bold">
    <table>
        <tbody>
          <tr class="row0">
            <td class="column0 style1 s">Name</td>
            <td class="column1 style1 s">Gene</td>
            <td class="column2 style2 s">PubChem_id</td>
            <td class="column3 style1 s">Function</td>
            <td class="column4 style1 s">Natural/Synthetic</td>
            <td class="column5 style1 s">Toxicity</td>
            <td class="column6 style3 s">IC50</td>
            <td class="column7 style3 s">Reference</td>
          </tr>
          <tr class="row1">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2747" title="">1α,25-Dihydroxyvitamin D3</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style7 n"><a href="https://pubchem.ncbi.nlm.nih.gov/compound/10883523" title="">10883523</a></td>
            <td class="column3 style8 s">Vitamin D3 is one of five forms of vitamin D. It is an inactive steroid molecule with one ring open which is converted to bioactive calcitriol by successive hydroxylations in the liver and kidney.</td>
            <td class="column4 style6 s">Both</td>
            <td class="column5 style9 s">Harmful if swallowed,in contact with skin, or if if inhaled. Causes skin irritation and serious eye irritation.</td>
            <td class="column6 style10 s">3.3 to 9.0 μM</td>
            <td class="column7 style11 s"><a href="https://www.sciencedirect.com/science/article/abs/pii/S1874391911003903?via%3Dihub" title="">Cristobo I,2011</a></td>

          </tr>
          <tr class="row2">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/ObjectDisplayForward?objectId=2951" title="">AHR agonists</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=15625" title="">15625</a></td>
            <td class="column3 style13 s">AHR is a ligand-activated transcriptional factor belonging to the family of basic-helix–loop–helix transcription factors, which plays a key role in drug metabolism, chemically induced carcinogenesis, development, differentiation and many other essential physiological functions.</td>
            <td class="column4 style6 s">Natural</td>
            <td class="column5 style14 s">AHR agonists has their known toxicity and ubiquity in the environment is the polycyclic aromatic hydrocarbons (PAHs). They result inincreased cardiovascular dysfunction, pericardial and yolk sac edemas, subcutaneous hemorrhages, craniofacial deformities, reduced growth, and increased mortality rates.</td>
            <td class="column6 style14 s">1.54 and 2.63 mM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/28476168/" title="">Ash PEA, 2017</a></td>

          </tr>
          <tr class="row3">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=6999" title="">Anacardic acid</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5388781" title="">5388781</a></td>
            <td class="column3 style13 s">Anacardic acid (6-pentadecylsalicylic acid) has been linked to anticancer, anti-inflammatory, and radiosensitization activities through a mechanism.</td>
            <td class="column4 style6 s">Natural</td>
            <td class="column5 style6 s">Causes skin irritation, serious eye irritation, ana some serious respiratory irritation.</td>
            <td class="column6 style8 s">~5.0 to ~8.5 μM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/22855461/" title="">Egawa N, 2012</a></td>

          </tr>
          <tr class="row4">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7000" title="">Curcumin</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=969516" title="">969516</a></td>
            <td class="column3 style13 s">Curcumin is a polyphenol with anti-inflammatory properties and the ability to increase the amount of antioxidants that the body produces.</td>
            <td class="column4 style6 s">Natural</td>
            <td class="column5 style6 s">Can cause nausea and gastrointestinal complaints.</td>
            <td class="column6 style6 s">4.6 μM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/24785678/" title="">Dong H, 2014</a></td>

          </tr>
          <tr class="row5">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5190" title="">Forskolin</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=47936" title="">47936</a></td>
            <td class="column3 style13 s">Forskolin is a labdane diterpenoid isolated from the Indian Coleus plant. It has a role as a plant metabolite, an anti-HIV agent, a protein kinase, agonist, an adenylate cyclase agonist, an antihypertensive agent and a platelet aggregation inhibitor.</td>
            <td class="column4 style6 s">Natural</td>
            <td class="column5 style6 s">Harmful in contact with skin (Acute toxicity, Dermal)</td>
            <td class="column6 style15 s">41 nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/26669444/" title="">Lokireddy S, 2015</a></td>

          </tr>
          <tr class="row6">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5019" title="">Lipopolysaccharide</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style16 n"><a href="https://pubchem.ncbi.nlm.nih.gov/compound/11970143" title="">11970143</a></td>
            <td class="column3 style13 s">It is the most abundant antigen on the cell surface, protecting the membrane from certain kinds of chemical attack.</td>
            <td class="column4 style6 s">Natural</td>
            <td class="column5 style6 s">Mediates the damage to human fallopian tube mucosa.</td>
            <td class="column6 style17 s">50 μM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/25557830/" title="">Lee S, 2015</a></td>

          </tr>
          <tr class="row7">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=1728" title="">Suramin</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5361" title="">5361</a></td>
            <td class="column3 style13 s">Suramin blocks the binding of various growth factors like tumor growth factor-beta (TGF-beta) to their receptors, thereby inhibiting endothelial cell proliferation and migration.</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style6 s">Can affect sense organs, especially Eyes.</td>
            <td class="column6 style6 s">4-6 μM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/25705365/" title="">Naviaux JC, 2015</a></td>

          </tr>
          <tr class="row8">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=566" title="">Zinc</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=32051" title="">32051</a></td>
            <td class="column3 style13 s">It produces ROS. Cells treated with zinc showed less expression in TDP43</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style18 s">It includes hunger, dizziness, shaking, a fast heartbeat, confusion, or sweating, and can cause loose stools.</td>
            <td class="column6 style6 s">15 μM</td>
            <td class="column7 style7 s"><a href="https://pubmed.ncbi.nlm.nih.gov/20138212/" title="">Caragounis A, 2010</a></td>

          </tr>
          <tr class="row9">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=6274" title="">4-Hydroxynonenal</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5283344" title="">5283344</a></td>
            <td class="column3 style9 s">It promotes proliferation, differentiation, antioxidant defense and compensatory mechanism.</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style14 s">It has a important role in pathogenesis of vascular diseases such as atherosclerosis, diabetes, neurodegenerative disorders and in utero diseases such as pre-eclampsia.</td>
            <td class="column6 style17 s">10 µM</td>
            <td class="column7 style7 s"><a href="https://pubmed.ncbi.nlm.nih.gov/25998392/" title="">Chihana Kabuta, 2015</a></td>

          </tr>
          <tr class="row10">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=6852" title="">SAHA</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5311" title="">5311</a></td>
            <td class="column3 style13 s">Prevents cytosolic TDP-43 accumulation</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style19 s">It can lead to the development of cataract, glaucoma, hypertension, water retention, hyperlipidemia, peptic ulcer, pancreatitis, myopathy, osteoporosis, mood changes, psychosis, dermal atrophy, allergy, acne, hypertrichosis, and secondary adrenal insufficiency.</td>
            <td class="column6 style6 s">~10 nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/28915616/" title="">Lin TW, 2017</a></td>

          </tr>
          <tr class="row11">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2768" title="">Dexamethasone</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5743" title="">5743</a></td>
            <td class="column3 style13 s">It is a glucocorticoid receptor agonist with anti-inflammatory action.</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style20 s">It can lead to the development of cataract, glaucoma, immune suppression, decreased resistance to infection, moon face, hyperglycemia, hypocalcemia, hypophosphatemia, metabolic acidosis, growth suppression, and secondary adrenal insufficiency.</td>
            <td class="column6 style15 s">76 nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/23325230/" title="">Caccamo A, 2013</a></td>

          </tr>
          <tr class="row12">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7002" title="">Epigallocatechin gallate</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=65064" title="">65064</a></td>
            <td class="column3 style13 s">It induces oligomerization of TDP-43 and impedes its cleavage.</td>
            <td class="column4 style6 s">Both</td>
            <td class="column5 style14 s">Some symptoms include fatigue, nausea, and abdominal pain followed by dark urine and jaundice.</td>
            <td class="column6 style6 s">120 and 10 mM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/22473010/" title="">Wang IF, 2012</a></td>

          </tr>
          <tr class="row13">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=346" title="">Staurosporine</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=44259" title="">44259</a></td>
            <td class="column3 style13 s">It induces TDP-43 fragmentation mostly to a 35 kDa fragment and this correlated with insolubility</td>
            <td class="column4 style6 s">Both</td>
            <td class="column5 style6 s">It is an anti-cancer drug. It can affect the lung function when excess doses are taken.</td>
            <td class="column6 style6 s">0.88 nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/19522733/" title="">Dormann D, 2009</a></td>

          </tr>
          <tr class="row14">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=9827" title="">17-AAG</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=11685945" title="">11685945</a></td>
            <td class="column3 style13 s">It reduces aggregate formation of TDP-43</td>
            <td class="column4 style6 s">synthetic</td>
            <td class="column5 style6 s">As these maintain the functional shape of oncogenic cells, they cause many side effects to the cancer affected individuals.</td>
            <td class="column6 style21 s">2.3 μM -1.0 μM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/24220679/" title="">Chang HY, 2013</a></td>

          </tr>
          <tr class="row15">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=6306" title="">Auranofin</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=70788951" title="">70788951</a></td>
            <td class="column3 style13 s">It has function of reduction of TDP-43 self-interaction without<br />
reduction of endogenous TDP-43 expression.</td>
            <td class="column4 style6 s">synthetic</td>
            <td class="column5 style6 s">No cellular toxicity</td>
            <td class="column6 style6 s">2.5 μM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/29396541/" title="">Oberstadt M, 2018 </a></td>

          </tr>
          <tr class="row16">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7179" title="">Ethacrynic acid</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=3278" title="">3278</a></td>
            <td class="column3 style13 s">It induced,TDP-43 aberrant phosphorylation, cleavage,<br />
cytoplasmic redistribution, and its insolubilization</td>
            <td class="column4 style6 s">synthetic</td>
            <td class="column5 style14 s">Overdosage may lead to excessive diuresis with electrolyte depletion.</td>
            <td class="column6 style6 s">4.38 µM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/22198567/" title="">Iguchi Y, 2011</a></td>

          </tr>
          <tr class="row17">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7399" title="">Ibudilast</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=3671" title="">3671</a></td>
            <td class="column3 style13 s">It is reported that Ibudilast clears TDP-43 and SOD1<br />
aggregates in cellular models</td>
            <td class="column4 style6 s">synthetic</td>
            <td class="column5 style6 s">Neuroprotective role of phosphodiesterase inhibitor ibudilast on neuronal cell death induced by activated microglia.</td>
            <td class="column6 style6 s">53-10 μM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/32204915/" title="">Chen Y, 2020</a></td>

          </tr>
          <tr class="row18">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=726" title="">L-serine</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5951" title="">5951</a></td>
            <td class="column3 style13 s">It was able to reduce the amount of aggregated TDP-43.</td>
            <td class="column4 style6 s">Both</td>
            <td class="column5 style6 s">No cellular toxicity</td>
            <td class="column6 style6 s">289µM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/32077471/" title="">Davis DA, 2020</a></td>

          </tr>
          <tr class="row19">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=4552" title="">Paraquat</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style22 n"><a href="https://pubchem.ncbi.nlm.nih.gov/compound/15938" title="">15938</a></td>
            <td class="column3 style13 s">This is a mitochondrial inhibitor used as a herbicide</td>
            <td class="column4 style6 s">synthetic</td>
            <td class="column5 style6 s">It causes damage to organs through prolonged or repeated exposure</td>
            <td class="column6 style6 s">54.9µM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/34014921/" title="">Nakamura K, 2021</a></td>

          </tr>
          <tr class="row20">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2326" title="">Riluzole</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style22 n"><a href="https://pubchem.ncbi.nlm.nih.gov/compound/5070" title="">5070</a></td>
            <td class="column3 style13 s">It shows significant inhibition of TDP-43 self interaction</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style6 s">Probable rare cause of clinically apparent liver injury.</td>
            <td class="column6 style6 s">0.6 and 1.5 μM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/34443594/" title="">Das B, 2021</a></td>

          </tr>
          <tr class="row21">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5260" title="">Rolipram</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style22 n"><a href="https://pubchem.ncbi.nlm.nih.gov/compound/5092" title="">5092</a></td>
            <td class="column3 style13 s">It is used as an antidepressant drug</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style6 s">It can cause skin irritation and serious eye irritation, and may cause respiratory problems.</td>
            <td class="column6 style6 s">130nM and 240nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/34161229/" title="">Frottin F, 2021</a></td>

          </tr>
          <tr class="row22">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=10400" title="">Berberine</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?sid=384403679" title="">384403679</a></td>
            <td class="column3 style13 s">It can reverse the processing of insoluble TDP-43 aggregates formation</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style6 s">Can cause liver injury.</td>
            <td class="column6 style6 s">25 µM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/27769241/" title="">Chang CF, 2016</a></td>

          </tr>
          <tr class="row23">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2367" title="">Colchicine</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=6167" title="">6167</a></td>
            <td class="column3 style13 s">It reduces insoluble species generated by TDP43</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style14 s">It causes diarrhea, bone marrow depression, alopecia and some accute effects include hypovolemia, shock, and coagulation disturbances, which may lead to death.</td>
            <td class="column6 style6 s">7-10 nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/26961006/" title="">Crippa V, 2016</a></td>

          </tr>
          <tr class="row24">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2820" title="">Raloxifene</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5035" title="">5035</a></td>
            <td class="column3 style13 s">Raloxifene affects the cycle of bone formation and breakdown in the body, and reduces loss of bone tissue. Raloxifene is used to treat or prevent osteoporosis in postmenopausal women.</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style14 s">It increases the incidence of benign and malignant ovarian tumors of granulosa or theca cell origin and symtoms include ataxia, dizziness, vomiting, rash, diarrhea, tremor, flushing, and elevated alkaline phosphatase levels.</td>
            <td class="column6 style17 s">0.4 nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/29807145/" title="">Zhou F, 2018</a></td>

          </tr>
          <tr class="row25">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5351" title="">Thapsigargin</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=446378" title="">446378</a></td>
            <td class="column3 style6 s">THAP is an inhibitor of the SERCA class of enzymes and cells treated with this agent have a raised calcium cytosolic level. THAP treatment of HeLa cells caused TDP-43 to localize to stress granules.</td>
            <td class="column4 style6 s">Natural</td>
            <td class="column5 style6 s">It causes skin irritation, serious eye irritation and it leads to allergy or asthma symptoms or breathing difficulties if inhaled, cause respiratory irritation.</td>
            <td class="column6 style6 s">6.0±0.3 nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/21257637/" title="">McDonald KK, 2011</a></td>

          </tr>
          <tr class="row26">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7417" title="">Veliparib</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=11960529" title="">11960529</a></td>
            <td class="column3 style8 s">Veliparib is an investigational poly ADP ribose polymerase (PARP) inhibitor. PARP inhibitors have potential for treating many diseases, including cancer.</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style6 s">It causes genetic defects, damage to fertility or the unborn child, causes damage to organs through prolonged or repeated exposure.</td>
            <td class="column6 style17 s">2.9-5.2 nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/30157956/" title="">McGurk L, 2018</a></td>

          </tr>
          <tr class="row27">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2892" title="">Celecoxib</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=2662" title="">2662</a></td>
            <td class="column3 style13 s">It is capable of reducing the neurotoxicity in cortical neurons and motor neurons that was triggered by the presence of TDP-43-depleted microglia</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style6 s">It leads to breathing difficulties, coma, drowsiness, gastrointestinal bleeding, high blood pressure, kidney failure, nausea, sluggishness, stomach pain, and vomiting</td>
            <td class="column6 style6 s">39.8nM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/25811799/" title="">Xia Q, 2015</a></td>

          </tr>
          <tr class="row28">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5687" title="">Imatinib</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5291" title="">5291</a></td>
            <td class="column3 style13 s">it was described to prevent motor neuron cell death<br />
induced in transgenic TDP-43 A315T mice</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style14 s">It causes edema, nausea, vomiting, muscle cramps, musculoskeletal pain, diarrhea, rash, fatigue and abdominal pain.</td>
            <td class="column6 style6 s">0.6 μM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/26106294/" title="">Rojas F, 2015</a></td>

          </tr>
          <tr class="row29">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2377" title="">Progesterone</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5994" title="">5994</a></td>
            <td class="column3 style8 s">Progesterone is an endogenous steroid and progestogen sex hormone. It is the major progestogen and is required for the production of other endogenous steroids, including the sex hormones and corticosteroids.</td>
            <td class="column4 style6 s">Both</td>
            <td class="column5 style6 s">It induces or promote the formation of ovarian, uterine, mammary, and genital tract tumors. It also impairs fertility until cessation.</td>
            <td class="column6 style15 s">11 mM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/23798570/" title="">Dang TN, 2013</a></td>

          </tr>
          <tr class="row30">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7295" title="">Ropinirole</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=5095" title="">5095</a></td>
            <td class="column3 style8 s">Ropinirole is a dopamine agonist. This drug is active at the dopamine-D2 and -D3 receptor subtypes, both centrally and peripherally.</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style14 s">Major symptoms include agitation, chest pain, confusion, drowsiness, facial muscle movements, grogginess, increased jerkiness of movement, symptoms of low blood pressure (dizziness, light-headedness)upon standing, nausea, and vomiting.</td>
            <td class="column6 style6 s">3.4 mM </td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/30127392/" title="">Fujimori K, 2018</a></td>

          </tr>
          <tr class="row31">
            <td class="column0 style5 s"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7009" title="">Valproate</a></td>
            <td class="column1 style6 s">TDP-43</td>
            <td class="column2 style12 n"><a href="http://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid=3121" title="">3121</a></td>
            <td class="column3 style8 s">Valproic acid is a fatty acid with anticonvulsant properties. It is commonly administered in a salt preparation, valproate sodium.</td>
            <td class="column4 style6 s">Synthetic</td>
            <td class="column5 style6 s">Various malformations include neural tube defects, cardiovascular malformations, craniofacial defects (e.g., oral clefts, craniosynostosis), hypospadias, limb malformations (e.g., clubfoot, polydactyly), and other malformations of varying severity involving other body systems.</td>
            <td class="column6 style6 s">1.02-2.15 mM</td>
            <td class="column7 style11 s"><a href="https://pubmed.ncbi.nlm.nih.gov/26078717/" title="">Wang X, 2015</a></td>
        </tbody>
    </table>
 </div>
{% endblock %} 
