
{% extends "layout.html" %}
{% block content %}
<div class="container" style="color: white;">
    <table>
        <tbody>
          <style>    
          td.style4 {font-weight: bold;}     
          table, th, td 
          {
          border: 1px solid black;
          } 
          </style>
          <tr style="font-weight:bold">
		<td height="21" align="left" valign=bottom><b><font face="Cambria" color="#000000">Name</font></b></td>
		<td align="left" valign=bottom><b><font face="Cambria" color="#000000">Gene</font></b></td>
		<td align="left" valign=bottom><b><font face="Cambria" color="#000000">PubChem_id</font></b></td>
		<td align="left" valign=bottom><b><font face="Cambria" color="#000000">Function</font></b></td>
		<td align="left" valign=bottom><b><font face="Cambria" color="#000000">Natural/Synthetic</font></b></td>
		<td align="left" valign=bottom><b><font face="Cambria" color="#000000">Toxicity</font></b></td>
		<td align="left" valign=bottom><b><font face="Cambria" color="#000000">IC50</font></b></td>
		<td align="left" valign=bottom><b><font face="Cambria" color="#000000">Reference</font></b></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2747">1&alpha;,25-Dihydroxyvitamin D3</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="10883523" sdnum="1033;"><u><font face="Cambria" color="#1155CC">10883523</font></u></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">Vitamin D3 is one of five forms of vitamin D. It is an inactive steroid molecule with one ring open which is converted to bioactive calcitriol by successive hydroxylations in the liver and kidney.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Both</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">Harmful if swallowed,in contact with skin, or if if inhaled. Causes skin irritation and serious eye irritation.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#464E56">3.3 to 9.0 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.sciencedirect.com/science/article/abs/pii/S1874391911003903?via%3Dihub">Cristobo I,2011</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/ObjectDisplayForward?objectId=2951">AHR agonists</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="15625" sdnum="1033;"><u><font face="Cambria" color="#1155CC">15625</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">AHR is a ligand-activated transcriptional factor belonging to the family of basic-helix&ndash;loop&ndash;helix transcription factors, which plays a key role in drug metabolism, chemically induced carcinogenesis, development, differentiation and many other essential physiological functions.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Natural</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">AHR agonists has their known toxicity and ubiquity in the environment is the polycyclic aromatic hydrocarbons (PAHs). They result inincreased cardiovascular dysfunction, pericardial and yolk sac edemas, subcutaneous hemorrhages, craniofacial deformities, reduced growth, and increased mortality rates.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">1.54 and 2.63 mM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/28476168/">Ash PEA, 2017</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=6999">Anacardic acid</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5388781" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5388781</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">Anacardic acid (6-pentadecylsalicylic acid) has been linked to anticancer, anti-inflammatory, and radiosensitization activities through a mechanism.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Natural</font></td>
		<td align="left" valign=bottom><font face="Cambria">Causes skin irritation, serious eye irritation, ana some serious respiratory irritation.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">~5.0 to ~8.5 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/22855461/">Egawa N, 2012</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7000">Curcumin</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="969516" sdnum="1033;"><u><font face="Cambria" color="#1155CC">969516</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">Curcumin is a polyphenol with anti-inflammatory properties and the ability to increase the amount of antioxidants that the body produces.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Natural</font></td>
		<td align="left" valign=bottom><font face="Cambria">Can cause nausea and gastrointestinal complaints.</font></td>
		<td align="left" valign=bottom><font face="Cambria">4.6 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/24785678/">Dong H, 2014</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5190">Forskolin</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="47936" sdnum="1033;"><u><font face="Cambria" color="#1155CC">47936</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">Forskolin is a labdane diterpenoid isolated from the Indian Coleus plant. It has a role as a plant metabolite, an anti-HIV agent, a protein kinase, agonist, an adenylate cyclase agonist, an antihypertensive agent and a platelet aggregation inhibitor.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Natural</font></td>
		<td align="left" valign=bottom><font face="Cambria">Harmful in contact with skin (Acute toxicity, Dermal)</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">41 nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/26669444/">Lokireddy S, 2015</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5019">Lipopolysaccharide</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="11970143" sdnum="1033;"><u><font face="Cambria" color="#1155CC">11970143</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It is the most abundant antigen on the cell surface, protecting the membrane from certain kinds of chemical attack.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Natural</font></td>
		<td align="left" valign=bottom><font face="Cambria">Mediates the damage to human fallopian tube mucosa.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#464E56">50 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/25557830/">Lee S, 2015</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=1728">Suramin</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5361" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5361</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">Suramin blocks the binding of various growth factors like tumor growth factor-beta (TGF-beta) to their receptors, thereby inhibiting endothelial cell proliferation and migration.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">Can affect sense organs, especially Eyes.</font></td>
		<td align="left" valign=bottom><font face="Cambria">4-6 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/25705365/">Naviaux JC, 2015</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=566">Zinc</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="32051" sdnum="1033;"><u><font face="Cambria" color="#1155CC">32051</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It produces ROS. Cells treated with zinc showed less expression in TDP43</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#242424">It includes hunger, dizziness, shaking, a fast heartbeat, confusion, or sweating, and can cause loose stools.</font></td>
		<td align="left" valign=bottom><font face="Cambria">15 &mu;M</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/20138212/">Caragounis A, 2010</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=6274">4-Hydroxynonenal</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5283344" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5283344</font></u></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">It promotes proliferation, differentiation, antioxidant defense and compensatory mechanism.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">It has a important role in pathogenesis of vascular diseases such as atherosclerosis, diabetes, neurodegenerative disorders and in utero diseases such as pre-eclampsia.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#464E56">10 &micro;M</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/25998392/">Chihana Kabuta, 2015</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=6852">SAHA</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5311" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5311</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">Prevents cytosolic TDP-43 accumulation</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">It can lead to the development of cataract, glaucoma, hypertension, water retention, hyperlipidemia, peptic ulcer, pancreatitis, myopathy, osteoporosis, mood changes, psychosis, dermal atrophy, allergy, acne, hypertrichosis, and secondary adrenal insufficiency.</font></td>
		<td align="left" valign=bottom><font face="Cambria">~10 nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/28915616/">Lin TW, 2017</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2768">Dexamethasone</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5743" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5743</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It is a glucocorticoid receptor agonist with anti-inflammatory action.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">It can lead to the development of cataract, glaucoma, immune suppression, decreased resistance to infection, moon face, hyperglycemia, hypocalcemia, hypophosphatemia, metabolic acidosis, growth suppression, and secondary adrenal insufficiency.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">76 nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/23325230/">Caccamo A, 2013</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7002">Epigallocatechin gallate</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="65064" sdnum="1033;"><u><font face="Cambria" color="#1155CC">65064</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It induces oligomerization of TDP-43 and impedes its cleavage.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Both</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">Some symptoms include fatigue, nausea, and abdominal pain followed by dark urine and jaundice.</font></td>
		<td align="left" valign=bottom><font face="Cambria">120 and 10 mM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/22473010/">Wang IF, 2012</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=346">Staurosporine</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="44259" sdnum="1033;"><u><font face="Cambria" color="#1155CC">44259</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It induces TDP-43 fragmentation mostly to a 35 kDa fragment and this correlated with insolubility</font></td>
		<td align="left" valign=bottom><font face="Cambria">Both</font></td>
		<td align="left" valign=bottom><font face="Cambria">It is an anti-cancer drug. It can affect the lung function when excess doses are taken.</font></td>
		<td align="left" valign=bottom><font face="Cambria">0.88 nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/19522733/">Dormann D, 2009</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=9827">17-AAG</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="11685945" sdnum="1033;"><u><font face="Cambria" color="#1155CC">11685945</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It reduces aggregate formation of TDP-43</font></td>
		<td align="left" valign=bottom><font face="Cambria">synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">As these maintain the functional shape of oncogenic cells, they cause many side effects to the cancer affected individuals.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#202124">2.3 &mu;M -1.0 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/24220679/">Chang HY, 2013</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=6306">Auranofin</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="70788951" sdnum="1033;"><u><font face="Cambria" color="#1155CC">70788951</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It has function of reduction of TDP-43 self-interaction without<br>reduction of endogenous TDP-43 expression.</font></td>
		<td align="left" valign=bottom><font face="Cambria">synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">No cellular toxicity</font></td>
		<td align="left" valign=bottom><font face="Cambria">2.5 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/29396541/">Oberstadt M, 2018 </a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7179">Ethacrynic acid</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="3278" sdnum="1033;"><u><font face="Cambria" color="#1155CC">3278</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It induced,TDP-43 aberrant phosphorylation, cleavage,<br>cytoplasmic redistribution, and its insolubilization</font></td>
		<td align="left" valign=bottom><font face="Cambria">synthetic</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">Overdosage may lead to excessive diuresis with electrolyte depletion.</font></td>
		<td align="left" valign=bottom><font face="Cambria">4.38 &micro;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/22198567/">Iguchi Y, 2011</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7399">Ibudilast</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="3671" sdnum="1033;"><u><font face="Cambria" color="#1155CC">3671</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It is reported that Ibudilast clears TDP-43 and SOD1<br>aggregates in cellular models</font></td>
		<td align="left" valign=bottom><font face="Cambria">synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">Neuroprotective role of phosphodiesterase inhibitor ibudilast on neuronal cell death induced by activated microglia.</font></td>
		<td align="left" valign=bottom><font face="Cambria">53-10 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/32204915/">Chen Y, 2020</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=726">L-serine</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5951" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5951</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It was able to reduce the amount of aggregated TDP-43.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Both</font></td>
		<td align="left" valign=bottom><font face="Cambria">No cellular toxicity</font></td>
		<td align="left" valign=bottom><font face="Cambria">289&micro;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/32077471/">Davis DA, 2020</a></font></u></td>
	</tr>
	<tr>
		<td height="129" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=4552">Paraquat</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom sdval="15938" sdnum="1033;"><u><font face="Cambria" color="#1155CC">15938</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">This is a mitochondrial inhibitor used as a herbicide</font></td>
		<td align="left" valign=bottom><font face="Cambria">synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">It causes damage to organs through prolonged or repeated exposure</font></td>
		<td align="left" valign=bottom><font face="Cambria">54.9&micro;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/34014921/">Nakamura K, 2021</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2326">Riluzole</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom sdval="5070" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5070</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It shows significant inhibition of TDP-43 self interaction</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">Probable rare cause of clinically apparent liver injury.</font></td>
		<td align="left" valign=bottom><font face="Cambria">0.6 and 1.5 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/34443594/">Das B, 2021</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5260">Rolipram</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom sdval="5092" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5092</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It is used as an antidepressant drug</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">It can cause skin irritation and serious eye irritation, and may cause respiratory problems.</font></td>
		<td align="left" valign=bottom><font face="Cambria">130nM and 240nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/34161229/">Frottin F, 2021</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=10400">Berberine</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="384403679" sdnum="1033;"><u><font face="Cambria" color="#1155CC">384403679</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It can reverse the processing of insoluble TDP-43 aggregates formation</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">Can cause liver injury.</font></td>
		<td align="left" valign=bottom><font face="Cambria">25 &micro;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/27769241/">Chang CF, 2016</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2367">Colchicine</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="6167" sdnum="1033;"><u><font face="Cambria" color="#1155CC">6167</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It reduces insoluble species generated by TDP43</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">It causes diarrhea, bone marrow depression, alopecia and some accute effects include hypovolemia, shock, and coagulation disturbances, which may lead to death.</font></td>
		<td align="left" valign=bottom><font face="Cambria">7-10 nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/26961006/">Crippa V, 2016</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2820">Raloxifene</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5035" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5035</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">Raloxifene affects the cycle of bone formation and breakdown in the body, and reduces loss of bone tissue. Raloxifene is used to treat or prevent osteoporosis in postmenopausal women.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">It increases the incidence of benign and malignant ovarian tumors of granulosa or theca cell origin and symtoms include ataxia, dizziness, vomiting, rash, diarrhea, tremor, flushing, and elevated alkaline phosphatase levels.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#464E56">0.4 nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/29807145/">Zhou F, 2018</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5351">Thapsigargin</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="446378" sdnum="1033;"><u><font face="Cambria" color="#1155CC">446378</font></u></td>
		<td align="left" valign=bottom><font face="Cambria">THAP is an inhibitor of the SERCA class of enzymes and cells treated with this agent have a raised calcium cytosolic level. THAP treatment of HeLa cells caused TDP-43 to localize to stress granules.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Natural</font></td>
		<td align="left" valign=bottom><font face="Cambria">It causes skin irritation, serious eye irritation and it leads to allergy or asthma symptoms or breathing difficulties if inhaled, cause respiratory irritation.</font></td>
		<td align="left" valign=bottom><font face="Cambria">6.0&plusmn;0.3 nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/21257637/">McDonald KK, 2011</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7417">Veliparib</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="11960529" sdnum="1033;"><u><font face="Cambria" color="#1155CC">11960529</font></u></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">Veliparib is an investigational poly ADP ribose polymerase (PARP) inhibitor. PARP inhibitors have potential for treating many diseases, including cancer.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">It causes genetic defects, damage to fertility or the unborn child, causes damage to organs through prolonged or repeated exposure.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#464E56">2.9-5.2 nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/30157956/">McGurk L, 2018</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2892">Celecoxib</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="2662" sdnum="1033;"><u><font face="Cambria" color="#1155CC">2662</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">It is capable of reducing the neurotoxicity in cortical neurons and motor neurons that was triggered by the presence of TDP-43-depleted microglia</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">It leads to breathing difficulties, coma, drowsiness, gastrointestinal bleeding, high blood pressure, kidney failure, nausea, sluggishness, stomach pain, and vomiting</font></td>
		<td align="left" valign=bottom><font face="Cambria">39.8nM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/25811799/">Xia Q, 2015</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=5687">Imatinib</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5291" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5291</font></u></td>
		<td align="left" valign=bottom><font face="Cambria" color="#000000">it was described to prevent motor neuron cell death<br>induced in transgenic TDP-43 A315T mice</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">It causes edema, nausea, vomiting, muscle cramps, musculoskeletal pain, diarrhea, rash, fatigue and abdominal pain.</font></td>
		<td align="left" valign=bottom><font face="Cambria">0.6 &mu;M</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/26106294/">Rojas F, 2015</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=2377">Progesterone</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5994" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5994</font></u></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">Progesterone is an endogenous steroid and progestogen sex hormone. It is the major progestogen and is required for the production of other endogenous steroids, including the sex hormones and corticosteroids.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Both</font></td>
		<td align="left" valign=bottom><font face="Cambria">It induces or promote the formation of ovarian, uterine, mammary, and genital tract tumors. It also impairs fertility until cessation.</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">11 mM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/23798570/">Dang TN, 2013</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7295">Ropinirole</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="5095" sdnum="1033;"><u><font face="Cambria" color="#1155CC">5095</font></u></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">Ropinirole is a dopamine agonist. This drug is active at the dopamine-D2 and -D3 receptor subtypes, both centrally and peripherally.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#212121">Major symptoms include agitation, chest pain, confusion, drowsiness, facial muscle movements, grogginess, increased jerkiness of movement, symptoms of low blood pressure (dizziness, light-headedness)upon standing, nausea, and vomiting.</font></td>
		<td align="left" valign=bottom><font face="Cambria">3.4 mM </font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/30127392/">Fujimori K, 2018</a></font></u></td>
	</tr>
	<tr>
		<td height="21" align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://www.guidetopharmacology.org/GRAC/LigandDisplayForward?ligandId=7009">Valproate</a></font></u></td>
		<td align="left" valign=bottom><font face="Cambria">TDP-43</font></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF" sdval="3121" sdnum="1033;"><u><font face="Cambria" color="#1155CC">3121</font></u></td>
		<td align="left" valign=bottom bgcolor="#FFFFFF"><font face="Cambria" color="#000000">Valproic acid is a fatty acid with anticonvulsant properties. It is commonly administered in a salt preparation, valproate sodium.</font></td>
		<td align="left" valign=bottom><font face="Cambria">Synthetic</font></td>
		<td align="left" valign=bottom><font face="Cambria">Various malformations include neural tube defects, cardiovascular malformations, craniofacial defects (e.g., oral clefts, craniosynostosis), hypospadias, limb malformations (e.g., clubfoot, polydactyly), and other malformations of varying severity involving other body systems.</font></td>
		<td align="left" valign=bottom><font face="Cambria">1.02-2.15 mM</font></td>
		<td align="left" valign=bottom><u><font face="Cambria" color="#1155CC"><a href="https://pubmed.ncbi.nlm.nih.gov/26078717/">Wang X, 2015</a></font></u></td>
	</tr>
	</table>
 </div>
{% endblock %} 
